---
import fi from "feather-icons";
import Footer from "../components/Footer.astro";
import ReadMore from "../components/button/ReadMore.astro";
import Header from "../components/Header.astro";
import PostCard from "../components/PostCard.astro";
import WorkCard from "../components/WorkCard.astro";
import Layout from "../layouts/Layout.astro";
//最新の記事を3つ取得
let posts = await Astro.glob("../pages/posts/*.md");
posts = posts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).getTime() -
      new Date(a.frontmatter.pubDate).getTime()
  )
  .slice(0, 3);
---

<Layout location="/">
  <main class="container mx-auto px-6 py-12">
    <section class="mb-16">
      <h2 class="text-3xl font-bold mb-6 pb-2 border-b border-[#30363d]">
        ようこそ
      </h2>
      <p class="text-[#8b949e]">
        こんにちは、プログラムでゲームとか作るのが趣味です。
        あと、本の感想とか書いてます。 是非、見てください。
      </p>
    </section>
    <!-- 最近のポスト一覧 -->
    <section class="mb-16">
      <h3 class="text-2xl font-bold mb-6 pb-2 border-b border-[#30363d]">
        最近の投稿
      </h3>
      <div class="space-y-6">
        {
          posts.map((post) => (
            <PostCard
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              url={post.url}
              date={post.frontmatter.pubDate}
              tags={post.frontmatter.tags}
            />
          ))
        }
        <ReadMore />
      </div>
      <!-- 特に見せたい作品を数個 -->
      <section>
        <h3 class="text-2xl font-bold mb-6 pb-2 border-b border-[#30363d]">
          作ったもの、ゲームとか、web関連
        </h3>
        <div class="space-y-6">
          <WorkCard />
          <WorkCard />
          <ReadMore />
        </div>
      </section>
    </section>
  </main>
</Layout>
